// ------------------------- 公共方法 -------------------------

// vw($px)
//   ($px / 2 / 375) * 100vw

// rem($px)
//   ($px / 2 / 75 ) * 1rem

rpx($px)
  ($px / 2 / 75 ) * 1rem

w-rpx($px)
  "calc(100vw - %s)" % rpx($px)

h-rpx($px)
  "calc(100vh - %s)" % rpx($px)

_line-border()
  position relative
  &::after
    content ''
    position absolute
    pointer-events none
    top 0
    left 0
    width 200%
    height 200%
    z-index 1
    box-sizing border-box
    transform scale(0.5)
    transform-origin left top

line-border-radius($radius)
  border-radius $radius
  &::before
    border-radius ($radius * 2)
  &::after
    border-radius ($radius * 2)
line-border($parm)
  _line-border()
  &::after
    border $parm
line-border-top($parm)
  _line-border()
  &::after
    border-top $parm
line-border-right($parm)
  _line-border()
  &::after
    border-right $parm
line-border-bottom($parm)
  _line-border()
  &::after
    border-bottom $parm
line-border-left($parm)
  _line-border()
  &::after
    border-left $parm



